.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .product-item {
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .product-item:hover {
    transform: translateY(-5px);
  }
  
  .product-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
  .product-info {
    text-align: left;
  }
  
  .product-info h2 {
    font-size: 1.2rem;
    color: #333;
  }
  
  .product-info p {
    font-size: 1rem;
    color: #666;
  }
  
  .product-link {
    display: block;
    margin-top: 10px;
    text-align: center;
    background-color: #ffe600;
    color: #333;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .product-link:hover {
    background-color: #ffd700;
  }
  